body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

#menu-container {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

#game-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-item {
    margin: 10px 0;
    text-align: center;
}

.game-link {
    text-decoration: none;
    color: #333333;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}

.rounded-image {
    border-radius: 10px;
    width: 200px;
    height: 150px;
}